

.navBar {
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow: hidden; 
    border-bottom: 1px solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 24px; 
    display: inline-flex; 
    flex-wrap: wrap; 
    align-content: center;
}

.menu {
    flex: 1 1 0; 
    justify-content: flex-end; 
    align-items: flex-start; 
    gap: 8px; 
    display: flex; 
    flex-wrap: wrap; 
    align-content: flex-start;
}

.logo {
    justify-content: center; 
    display: flex; 
    flex-direction: column; 
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 700; 
    line-height: 16px; 
}

.navItem {
    justify-content: center; 
    display: flex; 
    flex-direction: column; 
    color: black;
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 16px; 
    word-wrap: break-word
}

[data-state="Active"] {
    padding: 8px;
    background: #F5F5F5;
    border-radius: 8px; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: flex
}

[data-state="Default"] {
    padding: 8px; 
    border-radius: 8px; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: flex;
}

.headshot {
    width: 35vh;
    height: 50vh;
}

/* .nav ul {
    list-style-type: none;
    background-color: aqua;
    overflow: hidden

}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: blueviolet;
    transition: 1s;
    font-size: larger;
    font-weight: bold;
}

.active {
    color: blue;
} */